.App {
  text-align: center;
}

.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.app__form {
  padding: 20px;
  position: fixed;
  bottom: 2px;
  width: 100%;
  height: 70px;
  background-color: rgba(151, 224, 17, 0.904);
  margin: 10px;
  z-index: 1;
  display: flex;
  flex-direction: row;
}
