.App {
  text-align: center;
}

.logo {
  margin-top: 20px;
  width: 100px;
  height: 100px;
}
.top__header {
  font-family: "Allura", cursive;
  font-size: large;
}
.app__form {
  padding: 20px;
  position: fixed;
  bottom: 2px;
  width: 100%;
  height: 70px;
  background-color: #e9e9eb;
  margin: 10px;
  z-index: 1;
  display: flex;
  flex-direction: row;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0 !important;
}
