.App {
  text-align: center;
}

/* .message {
  color: white;
  background-color: rgba(14, 14, 202, 0.822);
  width: fit-content;

  margin: 2px;
  padding: 0px 15px;
  border-radius: 5px;
  border: none;
  display: flex;

} */