.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    /* background-color: rgba(33, 33, 207, 0.911) !important; */
    color: rgb(201, 63, 63) !important;
    border-radius: 10px !important;
    box-shadow: rgb(0, 0, 0) 2px 2px 5px 1px !important;
    margin-left: auto;
}

.message_usercard {
    background-color: blue !important;
}

.message_guestCard {
    background-color: grey !important;
}